# Pandas First Exercises
Dear Students this notebook contains simple exercises for beginners to practice basic Pandas operations such as creating Series, DataFrames, saving files, and importing data.

### Exercise 1: Creating Pandas Series

1. Create a Pandas Series containing the marks of 5 students in Maths.
2. Create a Pandas Series that stores 5 city names.
3. Create a Pandas Series with 5 different floating-point numbers representing temperature readings.

In [1]:
#answer here
import pandas as pd

# student_marks = pd.Series([85, 92, 78, 90, 88])
# cities = pd.Series(['Delhi', 'Mumbai', 'Banglore', 'Goa', 'Kashmir'])
# temperature = pd.Series([98.1, 99.1, 100.2, 104.5, 97.1])

In [2]:
student_marks = pd.Series([85, 92, 78, 90, 88])
print(student_marks)

0    85
1    92
2    78
3    90
4    88
dtype: int64

In [3]:
cities = pd.Series(['Delhi', 'Mumbai', 'Banglore', 'Goa', 'Kashmir'])
print(cities)

0       Delhi
1      Mumbai
2    Banglore
3         Goa
4     Kashmir
dtype: object

In [4]:
temperature = pd.Series([98.1, 99.1, 100.2, 104.5, 97.1])
print(temperature)

0     98.1
1     99.1
2    100.2
3    104.5
4     97.1
dtype: float64

### Exercise 2: Creating DataFrames from Series

1. Create two Series: one containing student names and another containing their ages. Combine them into a single DataFrame.
2. Create three Series: 'Product Name', 'Price', and 'Quantity'. Combine them into one DataFrame and display it.

In [5]:
#answer here
Name = pd.Series(['Prerit', 'Ayush', 'Ishan', 'Aadi', 'Arnav'])
Age = pd.Series([22, 22, 19, 20, 12])
Student_Details = pd.concat({'Name': Name, 'Age': Age}, axis = 1)
print(Student_Details)

     Name  Age
0  Prerit   22
1   Ayush   22
2   Ishan   19
3    Aadi   20
4   Arnav   12

In [6]:

Product_Name = pd.Series(['Pen', 'Pencil','Eraser'])
Price = pd.Series([20, 10, 5])
Quantity = pd.Series([100, 200, 100])

Products = pd.concat({'Product':Product_Name, 'Price':Price, 'Quantity': Quantity}, axis = 1)
print(Products)

  Product  Price  Quantity
0     Pen     20       100
1  Pencil     10       200
2  Eraser      5       100

### Exercise 3: Creating DataFrames from Dictionaries

1. Create a dictionary with keys as 'Name', 'Age', and 'City', each containing a list of 3 values. Convert it into a DataFrame.
2. Create a dictionary with keys 'Product', 'Category', and 'Price'. Convert it into a DataFrame and print it.

In [7]:
#answer here
details1 = {
    'Name' : ['Prerit', 'Ayush', 'Ishan'],
    'Age' : [22, 22, 19],
    'City' : ['Delhi', 'Mumbai', 'Banglore']
}
details1_final = pd.DataFrame(details1)
print(details1_final)

     Name  Age      City
0  Prerit   22     Delhi
1   Ayush   22    Mumbai
2   Ishan   19  Banglore

In [8]:
details2 = {
    'Product' : ['Pen', 'Pencil', 'Eraser'],
    'Category' : ['Stationary', 'Stationary', 'Stationary'],
    'Price' : [20, 10, 5]
}
details2_final = pd.DataFrame(details2)
print(details2_final)

  Product    Category  Price
0     Pen  Stationary     20
1  Pencil  Stationary     10
2  Eraser  Stationary      5

### Exercise 4: Saving DataFrames to CSV and Excel

1. Save any one of your created DataFrames into a CSV file named 'students.csv'.
2. Save another DataFrame into an Excel file named 'products.xlsx'.

In [9]:
#answer here
save1 = Student_Details.to_csv('students.csv')

In [10]:
save2 = Products.to_excel('products.xlsx')

### Exercise 5: Reading Data from Files

1. Use Pandas to read the CSV file 'students.csv' that you created earlier.
2. Use Pandas to read the Excel file 'products.xlsx' that you created earlier.

In [11]:
#answer here
read1 = pd.read_csv('students.csv')
print(read1)

   Unnamed: 0    Name  Age
0           0  Prerit   22
1           1   Ayush   22
2           2   Ishan   19
3           3    Aadi   20
4           4   Arnav   12

In [12]:
read2 = pd.read_excel('products.xlsx')
print(read2)

   Unnamed: 0 Product  Price  Quantity
0           0     Pen     20       100
1           1  Pencil     10       200
2           2  Eraser      5       100