# Pandas Practice Notebook
Dear Students this notebook will help you practice Important Pandas operations step-by-step.

## 1. File Import using Pandas
Below are some examples to import files in Pandas and practice questions.

In [3]:
# Example: Importing CSV, Excel, and JSON files
import pandas as pd

# Read CSV
df_csv = pd.read_csv('/content/Student_CSV.csv')

# Read Excel
df_excel = pd.read_excel('/content/Student_XLSX.xlsx')

# Read JSON
df_json = pd.read_json('/content/Student_JSON.json')

### Practice Questions
1. Import the file `sales.csv` and display the first 5 rows.
2. Import the Excel file `students.xlsx` and check its columns.
3. Import any JSON file and find its shape.

In [4]:
# Answer here
df = pd.read_csv('/content/Student_CSV.csv')
df.head()

  StudentID       Name       City  Age  Score  JoinedDate  IsActive
0      S001  Student_1       Pune   26  58.55  2024-01-01      True
1      S002  Student_2    Kolkata   22  76.41  2024-01-02     False
2      S003  Student_3    Kolkata   18  92.66  2024-01-03     False
3      S004  Student_4  Bengaluru   22  58.34  2024-01-04     False
4      S005  Student_5      Delhi   29  81.87  2024-01-05      True

## 2. File Export using Pandas
You can export data to different formats like CSV, Excel, and JSON.

In [5]:
# Example: Exporting DataFrame to different formats
df.to_csv('output.csv', index=False)
df.to_excel('output.xlsx', index=False)
df.to_json('output.json')

### Practice Questions
1. Export any given DataFrame to CSV format without index.
2. Export the same DataFrame to Excel with the name 'Sheet1'.
3. Export to JSON format with indentation.

In [23]:
# Answer here
mdata ={
        'Name' : ['Prerit', 'Ayush', 'Aadi', 'Ishaan'],
        'Age' : [19, 28, 55 ,23],
        'City': ['Delhi', 'UP', 'Gujarat', 'Haryana']
}

finaldata = pd.DataFrame(mdata)
finaldata.to_csv('finaldata.csv', index=False)
finaldata.to_excel('finaldata.xlsx', sheet_name='Sheet1')
finaldata.to_json('finaldata.json', indent=4)

## 3. Creating Series and DataFrames

In [8]:
# Example: Creating Series and DataFrame
series = pd.Series([10, 20, 30], name='Sales')
data = {
        'Name': ['Amit', 'Riya', 'John'],
        'Age': [22, 24, 26]
      }
df = pd.DataFrame(data)
print(series)
print(df)

0    10
1    20
2    30
Name: Sales, dtype: int64
   Name  Age
0  Amit   22
1  Riya   24
2  John   26

### Practice Questions
1. Create a Series of 5 numbers named 'Marks'.
2. Create a DataFrame of 3 students with columns 'Name', 'Score', 'City'.
3. Print shape, head, and describe of your DataFrame.

In [12]:
# Answer here
marks = pd.Series([1,2,3,4,5], name = 'Marks')
print(marks)

studnets = {
    'Name': ['Prerit', 'Ayush', 'Aadi'],
    'Score': [100, 99, 98],
    'City': ['Delhi', 'UP', 'UP']
}

final_students =  pd.DataFrame(studnets)
print(final_students.shape)
print(final_students.head())
print(final_students.describe())

0    1
1    2
2    3
3    4
4    5
Name: Marks, dtype: int64
(3, 3)
     Name  Score   City
0  Prerit    100  Delhi
1   Ayush     99     UP
2    Aadi     98     UP
       Score
count    3.0
mean    99.0
std      1.0
min     98.0
25%     98.5
50%     99.0
75%     99.5
max    100.0

## 4. Indexing and Slicing in Pandas

In [15]:
# Example: Indexing and Slicing
df['Name']
df[['Name', 'Age']]
df.iloc[0:2]
df.loc[df['Age'] > 22]
df[df['Age'] > 22]

   Name  Age
0  Amit   22
1  Riya   24
2  John   26

### Practice Questions
1. Select only the 'Score' column from your DataFrame.
2. Retrieve rows from index 1 to 3.
3. Filter rows where 'Age' > 23.

In [17]:
# Answer here
data = {
    'Name': ['Prerit', 'Ayush', 'Aadi', 'Ishaan'],
    'Age': [35, 22, 19, 28],
    'Score': [89, 76, 91, 85]
}

df = pd.DataFrame(data)
print(df['Score'])
print(df.iloc[1:4])
print(df[df['Age'] > 23])

0    89
1    76
2    91
3    85
Name: Score, dtype: int64
     Name  Age  Score
1   Ayush   22     76
2    Aadi   19     91
3  Ishaan   28     85
     Name  Age  Score
0  Prerit   35     89
3  Ishaan   28     85

## 5. Merging and Concatenation

In [21]:
# Example: Merge and Concat
df1 = pd.DataFrame({'ID': [1,2], 'Name': ['A', 'B']})
df2 = pd.DataFrame({'ID': [1,2], 'Score': [85, 90]})
merged = pd.merge(df1, df2, on='ID')
print(merged)

# Concat
df3 = pd.concat([df1, df2], axis=0, ignore_index=True)
print(df3)

   ID Name  Score
0   1    A     85
1   2    B     90
   ID Name  Score
0   1    A    NaN
1   2    B    NaN
2   1  NaN   85.0
3   2  NaN   90.0

### Practice Questions
1. Merge two DataFrames 'students' and 'marks' on 'ID'.
2. Perform left join between two given DataFrames.
3. Concatenate two DataFrames vertically and reset the index.

In [22]:
# Answer here
Students = {
    'Name' : ['Prerit', 'Ayush', 'Aadi'],
    'ID' : [1,2,3]
}
Marks = {
    'Marks' : [100, 99, 98],
    'ID' : [1,2,3]
}

df_students = pd.DataFrame(Students)
df_marks = pd.DataFrame(Marks)
merged = pd.merge(df_students, df_marks, on='ID')
print(merged)

left_join = pd.merge(df_students, df_marks, on='ID', how='left')
print(left_join)

concat = pd.concat([df_students, df_marks], axis=0, ignore_index=True)
print(concat)

     Name  ID  Marks
0  Prerit   1    100
1   Ayush   2     99
2    Aadi   3     98
     Name  ID  Marks
0  Prerit   1    100
1   Ayush   2     99
2    Aadi   3     98
     Name  ID  Marks
0  Prerit   1    NaN
1   Ayush   2    NaN
2    Aadi   3    NaN
3     NaN   1  100.0
4     NaN   2   99.0
5     NaN   3   98.0

## 6. Pivot Tables and GroupBy

In [24]:
# Example: Pivot and GroupBy
df = pd.DataFrame({'Region': ['North', 'South', 'North'],
                   'Month': ['Jan', 'Jan', 'Feb'],
                   'Sales': [250, 300, 400]
                })

pivot = df.pivot_table(values='Sales', index='Region', columns='Month', aggfunc='sum', fill_value=0)
grouped = df.groupby('Region')['Sales'].sum()
print(pivot)
print(grouped)

Month   Feb  Jan
Region
North   400  250
South     0  300
Region
North    650
South    300
Name: Sales, dtype: int64

### Practice Questions
1. Group the DataFrame by 'Month' and find total sales.
2. Create a pivot table to show Region-wise total sales.
3. Group data by 'Region' and count number of entries.

In [25]:
# Answer here
new = df.groupby('Month')['Sales'].sum()
print(new)

pivot = df.pivot_table(values='Sales', index='Region', aggfunc='sum')
print(pivot)

grouped = df.groupby('Region').count()
print(grouped)

Month
Feb    400
Jan    550
Name: Sales, dtype: int64
        Sales
Region
North     650
South     300
        Month  Sales
Region
North       2      2
South       1      1

## Optional Practice (Medium Level)
These questions test your overall understanding of Pandas.

1. Import a dataset and clean all missing values, rename columns properly, and export it back to Excel.

Dataset- https://drive.google.com/file/d/1kw_Sdib3WCo_acQYA851poCUdKcWgfYs/view?usp=sharing

In [41]:
# Answer here
import pandas as pd

df = pd.read_csv('/content/messy_data.csv')
df = df.dropna()
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
df.to_excel('final_data.xlsx', index=False)
print(df)

      name  age(years)   city  sales(_rs)
0     Amit        25.0  Delhi      2500.0
4     Neha        28.0   Pune      4000.0

2. Combine multiple CSV files from a folder into one DataFrame and find top 5 entries by a numeric column like 'Sales'.

Dataset- https://drive.google.com/drive/folders/1zgJs_6r8Aa_-93YXmYXfxOK5L4hVUI9Q?usp=sharing

In [37]:
# Answer here
feb = pd.read_csv('/content/sales_feb.csv')
jan = pd.read_csv('/content/sales_jan.csv')
march = pd.read_csv('/content/sales_mar.csv')

df = pd.concat([feb, jan, march], axis=0, ignore_index=True)
print(df.loc[0:5, 'Sales'])

# or
# top5 = df.sort_values(by='Sales', ascending=False).head(5)
# print(top5)

0    1300
1    1600
2    1000
3     950
4    1750
5    1200
Name: Sales, dtype: int64