# Lists, Tuples, and Sets : Practice Assignment

### Dear students these question will help you build a very strong foundation on data structures specificaly as data analyst

Each problem has:
- **Problem statement**
- **What the expected answer should look like** (an example of the final result/state)
- An **empty code cell** for you to solve it (look for `# write your code here`).

> Tip: Run cells independently.

### List Q1

**Problem:** Write a program to retrieve the value 4 from the list `my_list = [[1, 2], [3, 4], [5, 6]]` using indexing.

**Expected answer should look like (example):**
```
4
```

In [1]:
# write your code here
my_list = [[1, 2], [3, 4], [5, 6]]
ind = my_list[1][1]
print(ind)

4

### List Q2

**Problem:** Write a program to reverse the list `[10, 20, 30, 40, 50]` using slicing and explain how the slicing parameters achieve the result.

**Expected answer should look like (example):**
```
[50, 40, 30, 20, 10]  # slicing: lst[::-1] (start:end:step=-1)
```

In [7]:
# write your code here
list2 = [10, 20, 30, 40, 50]
list2.reverse()
print(list2)

# another method
list3 = [10, 20, 30, 40, 50]
print(list3[::-1])

[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]

### List Q3

**Problem:** Write a program to extract every second element from the list `[1, 2, 3, 4, 5, 6, 7, 8]` using slicing.

**Expected answer should look like (example):**
```
[2, 4, 6, 8]
```

In [8]:
# write your code here
list3_1 = [1, 2, 3, 4, 5, 6, 7, 8]
print(list3_1[1::2])

[2, 4, 6, 8]

### List Q4

**Problem:** Write a program to replace the middle two elements of the list `[10, 20, 30, 40, 50]` with `[99, 100, 101]` using slicing.

**Expected answer should look like (example):**
```
[10, 20, 99, 100, 101, 50]
```

In [9]:
# write your code here
list4 = [10, 20, 30, 40, 50]
list4[2:4] = [99, 100, 101]
print(list4)

[10, 20, 99, 100, 101, 50]

### List Q5

**Problem:** Write a program to transform the list `[1, 2, 3, 4, 5]` into `[1, 99, 100, 101, 4, 5]` by modifying a slice.

**Expected answer should look like (example):**
```
[1, 99, 100, 101, 4, 5]
```

In [10]:
# write your code here
list5 = [1, 2, 3, 4, 5]
list5[1:3] = [99, 100, 101]
print(list5)

[1, 99, 100, 101, 4, 5]

### List Q6

**Problem:** Write a program to concatenate two lists without using the `+` operator.

**Expected answer should look like (example):**
```
[...concatenated items...]  # e.g., via unpacking or extend
```

In [11]:
# write your code here
list6_1 = [1, 2, 3]
list6_2 = [4, 5, 6]
list6_1.extend(list6_2)
print(list6_1)

[1, 2, 3, 4, 5, 6]

### List Q7

**Problem:** Write a program to demonstrate how the `extend` method behaves if the argument is a string using `my_list = [1, 2, 3]`.

**Expected answer should look like (example):**
```
[1, 2, 3, 'a', 'b', 'c']  # e.g., my_list.extend('abc') adds each char
```

In [12]:
# write your code here
list7 = [1, 2, 3]
list7.extend('abc')
print(list7)

[1, 2, 3, 'a', 'b', 'c']

### List Q8

**Problem:** Write a program that uses `extend` to merge two lists in such a way that duplicates from the second list are not added.

**Expected answer should look like (example):**
```
[merged_unique_list]  # second list's items only if not already present
```

In [14]:
# write your code here
list8_1 = [1, 2, 3]
list8_2 = [3, 4, 5]
list8_1.extend([item for item in list8_2 if item not in list8_1])
print(list8_1)

# another way
list8_1 = [1, 2, 3]
list8_2 = [3, 4, 5]
list8_1.extend(list(set(list8_2) - set(list8_1)))
print(list8_1)

# another way
list8_1 = {1, 2, 3}
list8_2 = {3, 4, 5}
list8_1.update(list8_2)
new_list8 = list(list8_1)
print(new_list8)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

### List Q9

**Problem:** Write a program to create a list of 100 zeros using repetition and then replace every 10th element with 1.

**Expected answer should look like (example):**
```
[1 appears at indices 9,19,29,...]
```

In [22]:
# write your code here
list9 = [0] * 100
for i in range(0, 100, 10):
    list9[i] = 1
print(list9)

# another way
list9 = [0] * 100
list9[::10] = [1] * 10
print(list9)

# another way
list9 = [0] * 100
for i in range(0, 100):
    if i % 10 == 0:
        list9[i] = 1
print(list9)

# another way
list9 = [0] * 100
def fun(n):
    if n % 10 == 0:
        return 1
    else:
        return 0
list9 = list(map(fun, range(100)))
print(list9)

[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

### List Q10

**Problem:** Write a Python command without using a loop to check if **all** the elements of `[2, 4]` are present in the list `[1, 2, 3, 4, 5]`.

**Expected answer should look like (example):**
```
True  # e.g., set([2,4]).issubset([1,2,3,4,5])
```

In [23]:
# write your code here
list10 = [1, 2, 3, 4, 5]
print(set([2, 4]).issubset(list10))

True

### List Q11

**Problem:** Write a program to use `not in` to filter out all the elements of a list that exist in another list, e.g., removing elements in `[2, 4]` from `[1, 2, 3, 4, 5]`.

**Expected answer should look like (example):**
```
[1, 3, 5]
```

In [25]:
# write your code here
list11_1 = [1, 2, 3, 4, 5]
list11_2 = [2, 4]
print(list(set(list11_1) - set(list11_2)))

[1, 3, 5]

### List Q12

**Problem:** Create a list of integers from 1 to 10.

**Expected answer should look like (example):**
```
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```

In [27]:
# write your code here
list12 = list(range(1, 11))
print(list12)

# another way
list12 = []
for i in range(1, 11):
    list12.append(i)
print(list12)

# another way
list12 = [i for i in range(1, 11)]
print(list12)

# another way
list12 = list(map(lambda x: x+1, range(10)))
print(list12)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### List Q13

**Problem:** Add an element to the end of a list using `append()`.

**Expected answer should look like (example):**
```
[...original..., 99]
```

In [28]:
# write your code here
list13 = [1, 2, 3, 4, 5]
list13.append(99)
print(list13)

[1, 2, 3, 4, 5, 99]

### List Q14

**Problem:** Insert an element at the second position in a list.

**Expected answer should look like (example):**
```
[first, NEW, rest...]
```

In [29]:
# write your code here
list14 = [1, 2, 3, 4, 5]
list14.insert(1, 99)
print(list14)

[1, 99, 2, 3, 4, 5]

### List Q15

**Problem:** Remove an element from a list using `remove()`.

**Expected answer should look like (example):**
```
[list without that value]
```

In [30]:
# write your code here
list15 = [1, 2, 3, 4, 5]
list15.remove(3)
print(list15)

[1, 2, 4, 5]

### List Q16

**Problem:** Remove and return the last element of a list using `pop()`.

**Expected answer should look like (example):**
```
popped_value  # and list becomes [..., without last]
```

In [31]:
# write your code here
list16 = [1, 2, 3, 4, 5]
popped_value = list16.pop()
print(popped_value)
print(list16)

5
[1, 2, 3, 4]

### List Q17

**Problem:** Find the length of a list **without** using the `len()` function.

**Expected answer should look like (example):**
```
10  # manual count with loop
```

In [32]:
# write your code here
list17 = [1, 2, 3, 4, 5]
count = 0
for i in list17:
    count += 1
print(count)

5

### List Q18

**Problem:** Slice a list to get the first 5 elements.

**Expected answer should look like (example):**
```
lst[:5] -> first five elements
```

In [33]:
# write your code here
list18 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list18[:5])

[1, 2, 3, 4, 5]

### List Q19

**Problem:** Reverse a list using slicing.

**Expected answer should look like (example):**
```
reversed_list  # lst[::-1]
```

In [34]:
# write your code here
list19 = [1, 2, 3, 4, 5]
print(list19[::-1])

[5, 4, 3, 2, 1]

### List Q20

**Problem:** Check if an element exists in a list using `in`.

**Expected answer should look like (example):**
```
True/False
```

In [36]:
# write your code here
list20 = [1, 2, 3, 4, 5]
print(3 in list20)
print(7 in list20)

True
False

### List Q21

**Problem:** Concatenate two lists using the `+` operator.

**Expected answer should look like (example):**
```
[combined elements]
```

In [37]:
# write your code here
list21_1 = [1, 2, 3]
list21_2 = [4, 5, 6]
print(list21_1 + list21_2)

[1, 2, 3, 4, 5, 6]

### List Q22

**Problem:** Find the sum of all elements in a list.

**Expected answer should look like (example):**
```
numeric_sum
```

In [38]:
# write your code here
list22 = [1, 2, 3, 4, 5]
print(sum(list22))

15

### List Q23

**Problem:** Use list comprehension to generate a list of odd numbers from 1 to 10.

**Expected answer should look like (example):**
```
[1, 3, 5, 7, 9]
```

In [40]:
# write your code here
list23 = [i for i in range(1, 11) if i % 2 != 0]
print(list23)

# another way
list23 = []
for i in range(1, 11):
    if i % 2 != 0:
        list23.append(i)
print(list23)

# another way
list23 = list(filter(lambda x: x % 2 != 0, range(1, 11)))
print(list23)

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

### List Q24

**Problem:** Convert a list with duplicate elements into a set to remove duplicates.

**Expected answer should look like (example):**
```
{unique_elements}
```

In [41]:
# write your code here
list24 = [1, 2, 2, 3, 4, 4, 5]
print(set(list24))

{1, 2, 3, 4, 5}

### List Q25

**Problem:** Convert a string to a list of its characters.

**Expected answer should look like (example):**
```
['h','e','l','l','o']
```

In [42]:
# write your code here
list25 = 'hello'
print(list(list25))

['h', 'e', 'l', 'l', 'o']

### List Q26

**Problem:** Multiply all items in a list using a loop.

**Expected answer should look like (example):**
```
product_value
```

In [43]:
# write your code here
list26 = [1, 2, 3, 4, 5]
product = 1
for i in list26:
    product *= i
print(product)

120

### List Q27

**Problem:** Sort a list of numbers in ascending order.

**Expected answer should look like (example):**
```
[sorted numbers asc]
```

In [45]:
# write your code here
list27 = [5, 3, 2, 4, 1]
print(sorted(list27))

# another way
list27 = [5, 3, 2, 4, 1]
list27.sort()
print(list27)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

### List Q28

**Problem:** Clear all elements from a list using `clear()`.

**Expected answer should look like (example):**
```
[]
```

In [46]:
# write your code here
list28 = [1, 2, 3, 4, 5]
list28.clear()
print(list28)

[]

### List Q29

**Problem:** Use a `while` loop to iterate through a list.

**Expected answer should look like (example):**
```
each element printed/processed
```

In [47]:
# write your code here
list29 = [1, 2, 3, 4, 5]
i = 0
while i < len(list29):
    print(list29[i])
    i += 1

1
2
3
4
5

### List Q30

**Problem:** Use a `for` loop with `enumerate()` to print index and value.

**Expected answer should look like (example):**
```
index: value
```

In [50]:
# write your code here
list30 = [1, 2, 3, 4, 5]
for i, v in enumerate(list30):
    print(f"index: {i}, value: {v}")

print()
# another way
list30 = [1, 2, 3, 4, 5]
for i in range(len(list30)):
    print(f"index: {i}, value: {list30[i]}")

index: 0, value: 1
index: 1, value: 2
index: 2, value: 3
index: 3, value: 4
index: 4, value: 5

index: 0, value: 1
index: 1, value: 2
index: 2, value: 3
index: 3, value: 4
index: 4, value: 5

### List Q31

**Problem:** Find the index of an element in a list using `index()`.

**Expected answer should look like (example):**
```
integer_index
```

In [52]:
# write your code here
list31 = [1, 2, 3, 4, 5]
print(list31.index(3))
print(list31.index(5))

2
4

### Tuples Q1

**Problem:** Create a tuple with elements from 1 to 5.

**Expected answer should look like (example):**
```
(1, 2, 3, 4, 5)
```

In [53]:
# write your code here
tuple1 = (1, 2, 3, 4, 5)
print(tuple1)

(1, 2, 3, 4, 5)

### Tuples Q2

**Problem:** Access the third element in a tuple.

**Expected answer should look like (example):**
```
value_at_index_2
```

In [54]:
# write your code here
tuple2 = (1, 2, 3, 4, 5)
print(tuple2[2])

3

### Tuples Q3

**Problem:** Slice a tuple to get the last 3 elements.

**Expected answer should look like (example):**
```
(last3,)
```

In [55]:
# write your code here
tuple3 = (1, 2, 3, 4, 5)
print(tuple3[-3:])

(3, 4, 5)

### Tuples Q4

**Problem:** Check if an element exists in a tuple using `in`.

**Expected answer should look like (example):**
```
True/False
```

In [56]:
# write your code here
tuple4 = (1, 2, 3, 4, 5)
print(3 in tuple4)
print(6 in tuple4)

True
False

### Tuples Q5

**Problem:** Find the index of an element in a tuple.

**Expected answer should look like (example):**
```
integer_index
```

In [60]:
# write your code here
tuple5 = (1, 2, 3, 4, 5)
print(tuple5.index(3))
print(tuple5.index(5))

2
4

### Tuples Q6

**Problem:** Count the occurrences of an element in a tuple.

**Expected answer should look like (example):**
```
count_value
```

In [61]:
# write your code here
tuple6 = (1, 2, 2, 3, 4, 4, 5)
print(tuple6.count(2))
print(tuple6.count(4))

2
2

### Tuples Q7

**Problem:** Create a nested tuple and access an element from it.

**Expected answer should look like (example):**
```
nested_value
```

In [62]:
# write your code here
tuple7 = ((1, 2), (3, 4), (5, 6))
print(tuple7[1][0])

3

### Tuples Q8

**Problem:** Check if two tuples are equal.

**Expected answer should look like (example):**
```
True/False
```

In [63]:
# write your code here
tuple8_1 = (1, 2, 3)
tuple8_2 = (1, 2, 3)
print(tuple8_1 == tuple8_2)

True

### Tuples Q9

**Problem:** Convert a list to a tuple.

**Expected answer should look like (example):**
```
tuple(list)
```

In [64]:
# write your code here
list9 = [1, 2, 3, 4, 5]
print(tuple(list9))

(1, 2, 3, 4, 5)

### Tuples Q10

**Problem:** Create a tuple of integers and find its sum.

**Expected answer should look like (example):**
```
sum_value
```

In [65]:
# write your code here
tuple10 = (1, 2, 3, 4, 5)
print(sum(tuple10))

15

### Tuples Q11

**Problem:** Create a tuple using the `tuple()` constructor.

**Expected answer should look like (example):**
```
tuple_from_iterable
```

In [67]:
# write your code here
tuple11 = tuple(range(1, 6))
print(tuple11)

# another way
tuple11 = tuple(i for i in range(1, 6))
print(tuple11)

# another way
tuple11 = tuple(map(lambda x: x, range(1, 6)))
print(tuple11)

# another way
tuple11 = tuple(filter(lambda x: x, range(1, 6)))
print(tuple11)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

### Tuples Q12

**Problem:** Use a `for` loop to iterate through a tuple.

**Expected answer should look like (example):**
```
elements printed/processed
```

In [71]:
# write your code here
tuple12 = (1, 2, 3, 4, 5)
for i in tuple12:
    print(i)

1
2
3
4
5

### Tuples Q13

**Problem:** Try modifying a tuple element and handle the error.

**Expected answer should look like (example):**
```
TypeError handled
```

In [72]:
# write your code here
try:
    my_tuple = (10, 20, 30)
    my_tuple[1] = 99  # ❌ Trying to modify tuple element
except TypeError as e:
    print("Error:", e)

Error: 'tuple' object does not support item assignment

### Tuples Q14

**Problem:** Unpack a tuple into individual variables.

**Expected answer should look like (example):**
```
a b c ... assigned
```

In [73]:
# write your code here
tuple14 = (1, 2, 3)
a, b, c = tuple14
print(a, b, c)

1 2 3

### Tuples Q15

**Problem:** Use a tuple inside a dictionary as a key.

**Expected answer should look like (example):**
```
{(1,2): 'value'}
```

In [74]:
# write your code here
dict15 = {(1, 2): 'value'}
print(dict15)

{(1, 2): 'value'}

### Tuples Q16

**Problem:** Find the length of a tuple using `len()`.

**Expected answer should look like (example):**
```
length_value
```

In [75]:
# write your code here
tuple16 = (1, 2, 3, 4, 5)
print(len(tuple16))

5

### Tuples Q17

**Problem:** Compare two tuples using relational operators.

**Expected answer should look like (example):**
```
True/False based on lexicographic
```

In [77]:
# write your code here
tuple17_1 = (1, 2, 3)
tuple17_2 = (1, 2, 4)
print(tuple17_1 < tuple17_2)
print(tuple17_1 > tuple17_2)

True
False

### Tuples Q18

**Problem:** Use `max()` and `min()` with a tuple.

**Expected answer should look like (example):**
```
max_value, min_value
```

In [78]:
# write your code here
tuple18 = (1, 2, 3, 4, 5)
print(f"max_value: {max(tuple18)}, min_value: {min(tuple18)}")

max_value: 5, min_value: 1

### Tuples Q19

**Problem:** Use a tuple inside another tuple and access nested values.

**Expected answer should look like (example):**
```
nested_value
```

In [79]:
# write your code here
tuple19 = ((1, 2), (3, 4), (5, 6))
print(tuple19[1][0])

3

### Tuples Q20

**Problem:** Check the memory size of a tuple versus a list using `sys.getsizeof()`.

**Expected answer should look like (example):**
```
e.g., tuple_size < list_size (often)
```

In [81]:
# write your code here
import sys

# Create a list and a tuple with the same elements
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)

# Get their memory sizes
print("List size:", sys.getsizeof(my_list), "bytes")
print("Tuple size:", sys.getsizeof(my_tuple), "bytes")

List size: 104 bytes
Tuple size: 80 bytes

### Sets Q1

**Problem:** Create a set with integers from 10 to 15.

**Expected answer should look like (example):**
```
{10, 11, 12, 13, 14, 15} (order may vary)
```

In [1]:
# write your code here
set1 = {10, 11, 12, 13, 14, 15}
print(set1)

{10, 11, 12, 13, 14, 15}

### Sets Q2

**Problem:** Add multiple elements to a set using `update()`.

**Expected answer should look like (example):**
```
{...includes new elements...}
```

In [4]:
# write your code here
set2 = {1,2,3,4,5}
set2.update([6])
set2.update([7,8,9,10])
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Sets Q3

**Problem:** Check if a set is a subset of another set.

**Expected answer should look like (example):**
```
True/False
```

In [6]:
# write your code here
sub1 = {1,2,3,4,5}
sub2 = {3,4,5}
new1 = sub2.issubset(sub1) #checking if sub2 is a subset of sub1
new2 = sub1.issubset(sub2) #checking if sub1 is a subset of sub2
print(new1)
print(new2)

True
False

### Sets Q4

**Problem:** Check if a set is a superset of another set.

**Expected answer should look like (example):**
```
True/False
```

In [8]:
# write your code here
sub1 = {1,2,3,4,5}
sub2 = {3,4,5}
new1 = sub2.issuperset(sub1) #checking if sub2 is a superset of sub1
new2 = sub1.issuperset(sub2) #checking if sub1 is a superset of sub2
print(new1)
print(new2)

False
True

### Sets Q5

**Problem:** Find the difference between two sets.

**Expected answer should look like (example):**
```
A - B set
```

In [9]:
# write your code here
sub1 = {1,2,3,4,5}
sub2 = {3,4,5}
res = sub1 - sub2 #removing all the values of sub1 that are common in sub2
print(res)

{1, 2}

### Sets Q6

**Problem:** Create a set of multiples of 3 from 1 to 15.

**Expected answer should look like (example):**
```
{3, 6, 9, 12, 15}
```

In [23]:
# write your code here
multiple_of_3 = set(i for i in range(1,16) if i%3 == 0)
print(multiple_of_3)

# using map(), lambda()
val = map(lambda x: x*3, range(1,6))
print(set(val))

#using map()
def mul(x):
  return x*3
new_val = map(mul, range(1,6))
print(set(new_val))

{3, 6, 9, 12, 15}
{3, 6, 9, 12, 15}
{3, 6, 9, 12, 15}

### Sets Q7

**Problem:** Remove an element from a set using `discard()`.

**Expected answer should look like (example):**
```
set without that element (no error if missing)
```

In [25]:
# write your code here
set4 = {1,2,3,4,5}
set4.discard(3) # it can be done by using remove() as well but there is a limitation of using remove()
# set4.remove(6) # it will give error because there is no 6 in set4
set4.discard(6) # it will not give error even if we try to discard any value that is not present in set
print(set4)

{1, 2, 4, 5}

### Sets Q8

**Problem:** Check if a set is empty.

**Expected answer should look like (example):**
```
True/False
```

In [29]:
# write your code here
set5 = {1,2,3,4,5}
set6 = set5.copy()

set6.clear()


if len(set5) != 0:
  print("False")
elif len(set5) == 0:
  print("True")

if len(set6) != 0:
  print("False")
elif len(set6) == 0:
  print("True")

False
True

### Sets Q9

**Problem:** Find the maximum element in a set.

**Expected answer should look like (example):**
```
max_value
```

In [31]:
# write your code here
set7 = {1,2,35,22,1000,3,5,6,7}
print(f"max_value: {max(set7)}")

max_value: 1000

### Sets Q10

**Problem:** Find the minimum element in a set.

**Expected answer should look like (example):**
```
min_value
```

In [32]:
# write your code here
set7 = {1,2,35,22,1000,3,5,6,7}
print(f"min_value: {min(set7)}")

min_value: 1

### Sets Q11

**Problem:** Create a frozen set with elements 'a', 'b', and 'c'.

**Expected answer should look like (example):**
```
frozenset({'a','b','c'})
```

In [82]:
# write your code here
set8 = frozenset({'a','b','c'})
print(set8)

frozenset({'a', 'c', 'b'})

### Sets Q12

**Problem:** Check if a frozen set is immutable by attempting to add an element.

**Expected answer should look like (example):**
```
AttributeError shown/handled
```

In [83]:
# write your code here
try:
    set9 = frozenset({'a','b','c'})
    set9.add('d')
except AttributeError as e:
    print("Error:", e)

Error: 'frozenset' object has no attribute 'add'

### Sets Q13

**Problem:** Find the union of a frozen set with a regular set.

**Expected answer should look like (example):**
```
combined set
```

In [84]:
# write your code here
set10 = frozenset({'a','b','c'})
set11 = {1,2,3,4,5}
print(set10.union(set11))

frozenset({1, 2, 3, 4, 5, 'a', 'c', 'b'})

### Sets Q14

**Problem:** Convert a list with duplicate elements into a set to remove duplicates.

**Expected answer should look like (example):**
```
{unique_elements}
```

In [85]:
# write your code here
list12 = [1,2,3,4,5,1,2,3,4,5]
set12 = set(list12)
print(set12)

{1, 2, 3, 4, 5}

### Sets Q15

**Problem:** Create a set comprehension to generate squares of numbers from 1 to 5.

**Expected answer should look like (example):**
```
{1,4,9,16,25}
```

In [86]:
# write your code here
set15 = {i for i in range(1,6)}

var = map(lambda x : x**2, set15)
print(set(var))

{1, 4, 9, 16, 25}

### Sets Q16

**Problem:** Use the `intersection()` method on two sets.

**Expected answer should look like (example):**
```
A ∩ B
```

In [87]:
# write your code here
sub1 = {1,2,3,4,5}
sub2 = {3,4,5}
print(sub1.intersection(sub2))

{3, 4, 5}

### Sets Q17

**Problem:** Use `symmetric_difference()` between two sets.

**Expected answer should look like (example):**
```
(A Δ B) set
```

In [88]:
# write your code here
sub1 = {1,2,3,4,5}
sub2 = {3,4,5}
print(sub1.symmetric_difference(sub2))

{1, 2}

### Sets Q18

**Problem:** Iterate over elements of a set using a loop.

**Expected answer should look like (example):**
```
elements printed (order arbitrary)
```

In [89]:
# write your code here
set18 = {1,2,3,4,5}
for i in set18:
  print(i)

1
2
3
4
5

### Sets Q19

**Problem:** Count elements in a set using `len()`.

**Expected answer should look like (example):**
```
integer_count
```

In [90]:
# write your code here
set19 = {1,2,3,4,5}
print(len(set19))

5

### Sets Q20

**Problem:** Copy a set using `copy()` and verify it is separate.

**Expected answer should look like (example):**
```
True when A is B is False; mutation doesn't affect copy
```

In [91]:
# write your code here
set20 = {1,2,3,4,5}
set21 = set20.copy()
print(set20 is set21)

False

## Submission Note

Dear student, kindly save this file on your computer and fill the assignment form that is there in your WhatsApp group to submit this assignment.